<div class="container encabezado">
    <div class="cabecera-formulario">
        <p>Preguntas y respuestas frecuentes (FAQ)</p>
    </div>
    <p class="pregunta">1. ¿Por qué es obligación registrar al menos una sede?</p>
    <p class="texto">
        Porque se debe registrar por lo menos la sede principal del restaurante, la cual se anexa a la lista de sedes
        que se incluye al momento de registrar un restaurante.
    </p>
    <p class="pregunta">2. ¿Cómo puedo visualizar la información del propietario de un restaurante registrado?</p>
    <p class="texto">
        Diríjase a la sección restaurantes, que se encuentra ubicada en el menú lateral izquierdo, o en su defecto, en
        la página de inicio, y en la tabla de consultas de click sobre el restaurante del cual desea saber la
        información de su propietario. Al instante se desplegará un panel expansivo, el cual contiene el nombre del
        propietario y su identificación.
    </p>
    <p class="pregunta">3. ¿Quién puede realizar el registro?</p>
    <p class="texto">
        El registro tanto de los restaurantes como de las sedes y sus manipuladores solamente los puede realizar los
        funcionarios o miembros encargados de Micro al Parque, quienes toman la información recolectada de cada
        restaurante y la registran en el sistema.
    </p>
    <p class="pregunta">4. ¿A qué funcionalidades puede acceder un usuario común?</p>
    <p class="texto">
        Estos usuarios tienen acceso únicamente a las consultas de los restaurantes y su información básica (datos
        básicos del propietario, NIT, y nombre) y a los resultados obtenidos en las listas de chequeo.
    </p>
    <p class="pregunta">5. ¿Qué funcionalidades están habilitadas para un usuario administrador?</p>
    <p class="texto">
        Los usuarios administradores pueden tener acceso a todas las funcionalidades del sistema. Se debe tener en
        cuenta que, un único administrador puede aprobar o rechazar las solicitudes de registro de usuarios en el
        sistema.
    </p>
    <p class="pregunta">6. ¿Qué contiene el módulo de encuestas?</p>
    <p class="texto">
        Contiene las preguntas de chequeo que permitirán posteriormente evaluar el estado de un restaurante en relación
        a la manipulación y calidad de los alimentos. Al terminar dicha encuesta podrá visualizar los resultados
        obtenidos.
    </p>
    <p class="pregunta">7. ¿Cómo puedo visualizar el histórico o los resultados individuales de un restaurante en cuanto
        a sus listas de chequeo?</p>
    <p class="texto">
        Para acceder a dicha consulta, debe ir a la sección resultados, en la cual se visualizará una tabla que contiene
        los restaurantes registrados, y dentro de ella la opción que permitirá consultar los resultados individuales o
        el histórico de las listas de chequeo para ese restaurante seleccionado.
    </p>
    <p class="pregunta">8. ¿Qué información contiene el registro de un manipulador?</p>
    <p class="texto">
        Contiene los datos básicos, la encuesta de manipulación de alimentos y los espacios en los cuales se adjuntarán
        los exámenes médicos y los certificados de capacitaciones y demás. Dicho registro se divide en steps (paso a
        paso), teniendo en cuenta que se debe diligenciar completamente la información de un step para avanzar al
        siguiente.
    </p>
</div>