
.cabecera-formulario {
    background-color:rgb(252, 42, 42);
    padding: 2%; margin: 3%;
    margin-bottom: 14px; border-radius: 6px;
}
.cabecera-formulario p{
    text-align:center; font-weight: 500;
    font-size: 40px; color: #FFFFFF;
}

.img {margin-left: 70px; margin-top: 70px;}

.cuerpo {margin: 3%; display: flex;}

.modal-footer {width: 100% !important;}

.button {display: flex; margin-bottom: 3%;}

.card {margin: 0 auto; float: none;}

.notabla {width: 100%; height: 40px; font-size: 120%; font-weight: 600; color: #817b7b;}

.btn-secondary {
  width: 100%; background: #0a7aa7;
  font-weight: bold; height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-secondary:hover {
  background: #269dcc;
}

.btn-secondary:active {
  background: #58b5da !important;
  color: #000000 !important;
}